  /* Ensure the body and html take up the full height */
  @font-face {
    font-family: 'Silkscreen';
    src: url('./fonts/Silkscreen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  body, html {
    height: 2000px;
    margin: 0;
  }
  
  /* Canvas styling */
  canvas {
    display: block;
    margin: 0px auto 0 auto; /* Horizontally center with margin */
    max-width: 100vw;
      max-height: 100vh;
      width: auto;
      height: auto;
  }
  
  /* Styling for the info bubble */
  #infoBubble {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid black;
    padding: 10px;
    font-size: 32px;
    display: none;
    z-index: 1000;
    max-width: 1180px;
      width: auto;
      height: auto;
    text-align: left;
    font-family: 'Silkscreen', sans-serif; /* Apply the correct font */
  }
  
  @media only screen and (max-width: 600px) {
    canvas {
      width: 100vw; /* Scale canvas to fit mobile width */
      height: auto; /* Maintain aspect ratio */
    }
  }